body {
    margin: 0;
    padding: 0;
}
.modal{
    display: flex;
    flex-direction: column;
}

.header, ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header, .start, .footer{
    background: #1f2937;
}
.icon{
    font-size: 24px;
    color: #f9faf8;
}
.contact{
    background: #E5E7EB;
}
.head{
    font-size: 48px;
    font-weight: bolder;
}

.pets, .pets img{
    display: flex;
    flex: 1 1 auto;
    max-width: 200px;
}

.start {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

a{
    text-decoration: none;
    color: #f9faf8;
}
li{
    padding: 16px;
}
ul{
    list-style-type: none;
    padding: 6px;
    justify-content: space-around;
}

.card{
    height: fit-content;
}
 .image{
    display: flex;
    max-width: 200px;
 }