body {
    margin: 0;
    padding: 0;
}
.modal{
    display: flex;
    flex-direction: column;
}

.header, ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header, .start, .footer{
    background: #1f2937;
}
.icon{
    font-size: 24px;
    color: #f9faf8;
}
.contact{
    background: #E5E7EB; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
}
.head{
    font-size: 48px;
    font-weight: bolder;
}

.pets img{
    display: flex;
    flex: 1 1 auto;
    max-width: 200px;
    border-radius: 10px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    color: #E5E7EB;
}

a{
    text-decoration: none;
    color: #f9faf8;
}
li{
    padding: 16px;
}
ul{
    list-style-type: none;
    padding: 6px;
    justify-content: space-around;
}

.card{
    width: 200px
}
.pets{ 
    padding: 24px;
    display: flex;
    gap: 24px;
    align-items: center;
 }
 .content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 }

 .signup{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;

 }
 .data {
    display: flex;
    gap: 72px;
    align-items: center;
    padding: 24px;
    background: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
 }
 .signed {
    padding: 4px;
    width: 100px;
    background: none;
    border-radius: 5px;
    border-color: #E5E7EB;
    color: #f9faf8;
 }
 .sign{
    padding: 4px;
    width: 100px;
    background: #3882f6;
    border-radius: 5px;
    border-color: transparent;
    color: #f9faf8;
 }
 .start{
    display: flex;
    padding: 24px;
    justify-content: center;
 }
.container{
     display: flex;
     align-items: center;
     max-width: 900px;
     gap: 48px;
     color: #E5E7EB;
}

.container img{
    max-width: 350px;
    border-radius: 50%;
}

.text{
    max-width:800px;
}
.cover{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}